.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 9.375rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 4.375rem;
    box-sizing: border-box;
    z-index: 999;
}

.navbar img {
    margin-left: 1rem;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list li {
    margin: 1rem;
}

.list a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: .625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.list a:hover {
    opacity: 0.7;
}

a.download {
    background-color: #EF2D5B;
    border-radius: .875rem;
    min-width: 8.75rem;
    min-height: 2.5rem;
    padding: 0;
}

a.download:hover {
    opacity: 1;
    background-color: #ff3d6b;
}

/** I hate responsiveness */
@media only screen and (max-width: 900px) {
    .navbar img {
        width: 75%;
        max-width: 10rem;
        height: auto;
        margin: 0;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .navbar > a {
        justify-content: center;
        align-content: center;
        display: flex;
    }

    .navbar li {
        margin: .625rem;
    }

    a.download {
        display: none;
    }
    
    .mobile_hide {
        display: none;
    }
}
